<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SALE_M_S_ANDDPS03332.My.MySettings.DemoConnectionString"
            connectionString="Data Source=GHOST-PC;Initial Catalog=Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SALE_M_S_ANDDPS03332.My.MySettings.ANDDPS03332_DB_INF205ConnectionString"
            connectionString="Data Source=GHOST-PC;Initial Catalog=ANDDPS03332_DB_INF205;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>