-- Created by Vertabelo (http://vertabelo.com)
-- Last modification date: 2016-02-26 11:42:56.936

-- Create Database

	CREATE DATABASE ANDDPS03332_Database_INF205
;


-- tables
-- Table: CTHOADON
CREATE TABLE CTHOADON (
    MaHD varchar(10)  NOT NULL,
    MaSP varchar(10)  NOT NULL,
    CONSTRAINT CTHOADON_pk PRIMARY KEY  (MaHD,MaSP)
)
;





-- Table: HOADON
CREATE TABLE HOADON (
    MaHD varchar(10)  NOT NULL,
    MaKH varchar(10)  NOT NULL,
    MaNV varchar(10)  NOT NULL,
    NgayBan datetime  NOT NULL,
    ThanhTien money  NOT NULL,
    CONSTRAINT HOADON_pk PRIMARY KEY  (MaHD)
)
;





-- Table: KHACHHANG
CREATE TABLE KHACHHANG (
    MaKH varchar(10)  NOT NULL,
    TenKH nvarchar(30)  NOT NULL,
    DiaChi nvarchar(50)  NOT NULL,
    SDT varchar(12)  NOT NULL,
    CONSTRAINT KHACHHANG_pk PRIMARY KEY  (MaKH)
)
;





-- Table: NGUOIQUANTRI
CREATE TABLE NGUOIQUANTRI (
    MaQT varchar(4)  NOT NULL,
    TenNQT nvarchar(50)  NOT NULL,
    DiaChi nvarchar(50)  NOT NULL,
    SDT varchar(15)  NOT NULL,
    ThuDienTu varchar(30)  NOT NULL,
    NguoiDung varchar(20)  NOT NULL,
    MatKhau varchar(20)  NOT NULL,
    CONSTRAINT NGUOIQUANTRI_pk PRIMARY KEY  (MaQT)
)
;





-- Table: NHANVIEN
CREATE TABLE NHANVIEN (
    MaNV varchar(10)  NOT NULL,
    TenNV nvarchar(30)  NOT NULL,
    DiaChi nvarchar(50)  NOT NULL,
    SDT varchar(15)  NOT NULL,
    ThuDienTu varchar(30)  NOT NULL,
    NguoiDung varchar(20)  NOT NULL,
    MatKhau varchar(20)  NOT NULL,
    CONSTRAINT NHANVIEN_pk PRIMARY KEY  (MaNV)
)
;





-- Table: SANPHAM
CREATE TABLE SANPHAM (
    MaSP varchar(10)  NOT NULL,
    TenSP nvarchar(20)  NOT NULL,
    LoaiSP nvarchar(20)  NOT NULL,
    DonGia money  NOT NULL,
    SoLuong int  NOT NULL,
    CONSTRAINT SANPHAM_pk PRIMARY KEY  (MaSP)
)
;









-- foreign keys
-- Reference:  FK_CTHOADON_HOADON (table: CTHOADON)

ALTER TABLE CTHOADON ADD CONSTRAINT FK_CTHOADON_HOADON 
    FOREIGN KEY (MaHD)
    REFERENCES HOADON (MaHD)
;

-- Reference:  FK_CTHOADON_SANPHAM (table: CTHOADON)

ALTER TABLE CTHOADON ADD CONSTRAINT FK_CTHOADON_SANPHAM 
    FOREIGN KEY (MaSP)
    REFERENCES SANPHAM (MaSP)
;

-- Reference:  FK_HOADON_KHACHHANG (table: HOADON)

ALTER TABLE HOADON ADD CONSTRAINT FK_HOADON_KHACHHANG 
    FOREIGN KEY (MaKH)
    REFERENCES KHACHHANG (MaKH)
;

-- Reference:  FK_HOADON_NHANVIEN (table: HOADON)

ALTER TABLE HOADON ADD CONSTRAINT FK_HOADON_NHANVIEN 
    FOREIGN KEY (MaNV)
    REFERENCES NHANVIEN (MaNV)
;


-- Insert data.
-- KHACHHANG.
INSERT INTO KHACHHANG
VALUES ('KH01', N'ĐINH ĐIỀN AN', N'Quận Gò Vấp', '0969232780')
INSERT INTO KHACHHANG
VALUES ('KH02', N'CHÂU THỊ LAN LINH', N'Quận Tân Bình', '0968234567')
INSERT INTO KHACHHANG
VALUES ('KH03', N'LÊ THÁI ĐẠT', N'Quận Phú Nhuận', '0944323435')


-- HOADON.
INSERT INTO HOADON
VALUES ('HD01', 'KH01', 'NV01', '2015-01-01', 100000)
INSERT INTO HOADON
VALUES ('HD02', 'KH02', 'NV01', '2015-03-10', 1500000)
INSERT INTO HOADON
VALUES ('HD03', 'KH03', 'NV01', '2015-04-15', 2000000)

-- CTHOADON.
INSERT INTO CTHOADON
VALUES ('HD01', 'SP01')
INSERT INTO CTHOADON
VALUES ('HD02', 'SP02')
INSERT INTO CTHOADON
VALUES ('HD03', 'SP03')



-- SANPHAM.
INSERT INTO SANPHAM
VALUES ('SP01', N'RAM Laptop', 'LTDDR', 100000, 1)
INSERT INTO SANPHAM
VALUES ('SP02', N'RAM PC', 'PCDDR', 1500000, 1)
INSERT INTO SANPHAM
VALUES ('SP03', N'MAIN Laptop', 'Main Laptop', 2000000, 1)

-- NHANVIEN.
INSERT INTO NHANVIEN
VALUES ('NV01', N'Châu Thị Lan Linh', N'Quận 8', '0919567567', 'linhctlps03199@fpt.edu.vn', 'linhctlps03199', '123')
INSERT INTO NHANVIEN
VALUES ('NV02', N'Tiêu Bảo Long', N'Quận 10', '01223456789', 'longtbps03217@fpt.edu.vn', 'longtbps03217', '123')
;

--NGUOIQUANTRI
INSERT INTO NGUOIQUANTRI
VALUES ('1234', N'Đinh Điền An', N'Quận Gò Vấp', '0969232780', 'anddps03332@fpt.edu.vn', 'anddps03332', '1234')
;

-- End of file.

